@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300, 400|Roboto:400');

body{
    /*background-image:url('images/clr-AlecRobitaille2018.jpg');*/
    background-image:url('images/gs-50-AlecRobitaille2018.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
		color: #cbcbcb;
}


@media screen and (max-width: 640px){
 body {
  background-image:url('images/gs-mobile-AlecRobitaille2018.jpg');
 }
}


/* drop titles */
h1 {
	display:none;
}

/* link colors */
a {
	color: #f1f1f1;
}

a:hover {
	color: #f1f1f1;
}

a:active {
  color: #f1f1f1;
}

/* text panels */
.panel {
  margin-top: 20px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  background-color: rgba(130, 130, 130, 0.8);
  border: 1px solid transparent;
}

.panel-heading {
	color: #f1f1f1;
}

/* your photo */
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */
.navbar-default {
  font-family: 'Roboto Slab', serif;
  background-color: rgba(130, 130, 130, 0.85);
  border-color: #808080;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #808080;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #808080;
}
.navbar-default .navbar-toggle {
  border-color: #808080;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #808080;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #808080;
  }
}
